body{
    background: #0f0f0f;
}

.title{
    color: #00FFFF;

}

.profile{
    margin-top: 100px;
}

.profile-img{
    width: 100%;
}

.card-img{
    width: 50%;
}

.card-container{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    align-items: center;
    gap: 10px;
}

.card-desc{
    width: 50%;
    color: white;
}

.porfolio{
    text-align: center;
    margin-top: 40px;
}

.card-btn{
    background-color: #d6dbdf;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.code-cont{
    width: 50%;
}

.btn-container{
        flex-wrap: wrap;
}

.my-edu{
    width: 50%;
    text-align: center;
}

.headings{
    text-align: center;
}

input{
    height: 60px;
    background: #0f0f0f;
}

textarea{
    height: 80px;
    width: 250px;
    background: #0f0f0f
}

form{
    border: 1px solid white;
    box-shadow:5px 5px 4px 8px #d6dbdf;
}

.form-btn{
    padding: 10px;
    width: 150px;
    background-color: #d6dbdf;
    color: #00FFFF;
}

.form-btn:hover{
    cursor: pointer;
    background-color: rgb(67, 67, 205);
}

.footer-cintainer{
    border-top: 1px solid white;
    text-align: center;
}

@media screen and (max-width: 576px) {

    body{
        margin: 0 auto;
    }
    
    .profile-container, .card-container, #education{
        flex-direction: column;
    }

    .profile-container .profile-img, .my-edu{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
}

@media screen and (min-width: 577px) and (max-width:768px) {
    body{
        margin: 0 auto;
    }

    .profile-container, .card-container, #education{
        flex-direction: column;
    }

    .profile-container .profile-img, .my-edu{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #education{
        flex-direction: column;
    }
    .my-edu{
        margin-top: 20px;
        margin-bottom: 20px;
    }

}


