body{
    background: #0f0f0f;
}

.title{
    color: #00FFFF;

}

.profile{
    margin-top: 100px;
}

.card-img{
    width: 50%;
}

.card-container{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    align-items: center;
    gap: 10px;
}

.card-desc{
    width: 50%;
    color: white;
}

.porfolio{
    text-align: center;
}

.card-btn{
    background-color: #d6dbdf;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.code-cont{
    width: 50%;
}
.my-edu{
    width: 50%;
    text-align: center;
}

.headings{
    text-align: center;
}

input{
    height: 60px;
    background: #0f0f0f;
}

textarea{
    height: 80px;
    width: 250px;
    background: #0f0f0f
}

form{
    border: 1px solid white;
    box-shadow:5px 5px 4px 8px #d6dbdf;
}

.form-btn{
    padding: 10px;
    width: 150px;
    background-color: #d6dbdf;
    color: #00FFFF;
}

.form-btn:hover{
    cursor: pointer;
    background-color: rgb(67, 67, 205);
}

.footer-cintainer{
    border-top: 1px solid white;
    text-align: center;
}


